/RqValidation-Result.json
node_modules
/reporting/doc
/ctrldoc/rm_prj.ods
/ctrldoc/rm_my_id.ods
/cfg/configfile_req.py
/cfg/configfile_arch.py
*.pyc
/.ipynb_checkpoints
package-lock.json
doorstop/public
downloading/RqDownload.ods
!/doorstop/.gitignore
!/doorstop/.doorstop_settings.yml
!/doorstop/readme.txt
/doorstop
